.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 10vh;
  width: 100%;
  background: hsl(48, 55, 98);
  color: hsl(192, 11, 26);
  font-weight: 600;
  border: 5px solid hsl(193, 32, 13);
  ul {
    display: flex;
    list-style-type: none;
    padding-right: 5rem;

    li {
      cursor: pointer;

      + li {
        padding-left: 5rem;
      }
    }
  }
}
