.payment-summary {
  width: 30vw;
  padding-top: 8.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.payment-summary-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7rem;

  .summary-header {
    padding-bottom: 2rem;
  }
}

.subtitle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.balance-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(246, 249, 255);
  height: 90px;
  padding: 0 15px;
  margin: 1rem 0;
}

.account-information {
  display: flex;
  flex-direction: column;
}

.subtitle-text {
  color: rgba(55, 55, 55, 0.4);
  font-weight: 600;
  font-size: 0.8rem;
}

.balance-amount {
  font-weight: 900;
  color: black;
}

.vat-amount {
  font-size: 0.85rem;
}

.subtitle-text-bold {
  font-weight: 700;
}

.balance-amount-bold {
  font-weight: 900;
  color: black;
  font-size: 1.5rem;
}

.balance-subtitle {
  font-size: 0.8rem;
  font-weight: 500;
}

.account-name {
  font-size: 0.9rem;
  color: rgba(55, 55, 55, 0.8);
  font-weight: 900;
  padding-top: 0.5rem;
}

.balance-complete-amount {
  color: #61a2f8;
}
