.category-tile {
  height: 50vw;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1rem;

  .category-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: hsl(0, 0, 27%);
  }
  .category-logo {
    width: 45px;
  }
}

.last-item {
  grid-column: span 2;
}
