.profile-content {
  width: 75%;
  background: hsl(48, 55, 98);
  border-left: 5px solid hsl(193, 32, 13);
  border-right: 5px solid hsl(193, 32, 13);

  &-header {
    line-height: 1;
    font-size: 10rem;
    font-family: "Bree Serif", serif;
    font-weight: 300;
    margin: 0 6rem;
    color: hsl(178, 29, 19);
    span {
      padding-left: 40%;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: hsl(178, 29, 19);
    }
  }
  &-body {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
  }
}

.video-container {
  margin-left: 50px;
}

.profile-body {
  padding: 3rem 5rem;

  .profile-subheader {
    color: hsl(0, 63, 44);
    font-size: 1.3rem;
    text-align: right;
    font-weight: 700;
  }

  &-content {
    line-height: 1.5;
    padding: 3rem 0 0 3rem;
    font-size: 1.1rem;
    text-align: justify;
    font-family: "PT Serif", serif;
  }
}
