.custom-button {
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: hsl(242, 70, 56);
  border: 1px solid hsl(242, 70, 56);
  color: white;
  transition: all 0.3s ease-in-out;
}
