.job-location-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 3rem 0;
  border-top: 1px solid hsl(0, 0, 90);
  color: hsl(223, 18, 26);

  span {
    font-weight: 400;
  }

  .country-list {
    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding-inline-start: 0;
      li {
        font-size: 1rem;
        font-weight: 600;

        cursor: pointer;
        padding: 0 10px;
      }
      a {
        text-decoration: none;
        color: hsl(0, 0, 30);
        &:hover {
          color: hsl(242, 70, 56);
          border-bottom: 2px solid hsl(242, 70, 56);
        }
      }
    }
  }
}
