.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 60px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  background: hsl(225, 20, 15);
  color: hsl(228, 4, 88);

  ul {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0;
    li {
      padding: 5px;

      a {
        text-decoration: none;
        color: hsl(228, 4, 88);
      }
    }
  }
}
